// COLOR

$color-claro: rgb(212, 221, 226);
$color-claro2: rgb(245, 238, 238);
$color-inter: rgb(162, 162, 162);
$color-oscuro: rgb(92, 126, 143); 

// FUENTE

$fuente: "Poppins", sans-serif;

// Imagen fondo

$fondo: url("../img/imagenpromo.jfif");